body{
	margin: 0px;
	background-color: rgb(201, 228, 247);
}
content{
	margin-top: 10px;
	display: flex;
	width: 80%;
}
info{
	border-left: solid;
	border-color: red;
	border-style: dotted;
	flex-grow: 1;
	width: 50%;
	background-color: #e9ff00;
}
left{
	flex-grow: 2;
}
h1{
	/*border: solid;*/
	background-image: radial-gradient(#05e7dc, #8fecfc , #645864);
	/*border-radius: 25px;*/
	font-size: 330%;
	margin: 0px;
	color: rgb(15, 104, 34);
	padding: 100px;
}
line{
	border-color: black;
}
.section{
	/*width: 50%;*/
	border: solid;
}
profile.resize{
	float: left;
	width:540px;
    height: 300pt;

}
wolf_img.resize{
	float: right;
	width:540px;
    height:auto;
	overflow: hidden;

}
wolf1.resize{
	float: left;
    width:540pt;
	height:auto;
	overflow: hidden;

}

hr{
	border-width: 3px;
	color: black;
}


