body{
	margin: 0px;
	background-color: rgb(201, 228, 247);

}
content{
	margin-top: 10px;
	display: flex;
	width: 80%;
}
left{
	flex-grow: 2;
}
h1{
	background-image: radial-gradient(#05e7dc, #8fecfc , #645864);
	font-size: 330%;
	margin: 0px;
	color: rgb(15, 104, 34);
	padding: 100px;
}
line{
	border-color: black;
}
.section{
	border: solid;
}

hr{
	border-width: 3px;
	color: black;
}

.centered img {
    width: 300px;
    border-radius: 20%;
  }

  p{
	  text-align: center;
  }


