body {
    font-family: "Times New Roman", Times, san-serif;
    color: rgb(92, 57, 78);
  }

p{
    text-align: left;
}

p1{
    text-align: center;
}
    

  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgb(91, 241, 184);
    width: 30%;
  }
  
  .right {
    right: 0;
    background-color: rgb(142, 238, 241);
    width: 70%;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 300px;
    border-radius: 20%;
  }

  hr{
	border-width: 2px;
  }
  
  h2{
      font-size: 27px;
  }


