body{
	margin: 0px;
	background-color: rgb(241, 239, 142);
}

.sidebar {
    height: 100%; 
    width: 35%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(155, 168, 243);
    overflow-x: hidden;
    padding-top: 3%; 
    text-align: center;
    font-family: "Times New Roman", Times, san-serif;
}

.right {
    text-align: center;
    margin-left: 25%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 0%;
    font-family: "Times New Roman", Times, san-serif;
    font-size: larger;
    background-color: rgb(241, 239, 142);
    min-height: 100%;
    width: 70%;
}

h1{
	background-image: radial-gradient(#05e7dc, #8fecfc , #645864);
	font-size: 200%;
	color: rgb(15, 104, 34);
    padding: 100px;
}

line{
	border-color: black;
}

hr{
	border-width: 3px;
	color: black;
}

p{
	text-align: center;
}

img {
	border-radius: 80%;
    width: 60%;
	margin-bottom: 10px;
	transform: rotate(45deg);
}


