p{
	font-family: 'PT Serif Caption', serif;
       font-weight: normal;
       margin-right: 150px;
       margin-left: 150px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'PT Serif Caption', serif;
       font-weight: bold;
       margin-right: 150px;
       margin-left: 150px;
}

img{
       border-radius: 10%;
       margin-right: 150px;
       margin-left: 150px;
       max-width: 400px;
       height: auto;
}

.caption {
	font-family: 'PT Serif Caption', serif;
	font-size: 10px;
       font-weight: normal;
       margin-right: 150px;
       margin-left: 150px;
}

body{
	background-color: #FAEBD7;   
}

.smcap{
	background-color: #f3eecb;
}

pre {
       margin-right: 150px;
       margin-left: 150px;
     } 

table{
       margin-left: 150px;

}